{% extends 'common.html' %}
{% block biswal %}
    {% load static %}
    <table align="center" border="0" width="800">
      <tr><th style="text-align: center;color: green;font-size: 60px;font-family: 'Agency FB'">Welecome to My Website</th></tr>
    <tr><th>Our online training programs are designed to help students attend live sessions in the virtual classroom. These help students to attend training program from any location in the world at their convenience. With constant support and live access to online servers for practice sessions, virtual classrooms are the training methodology of the future connecting the trainer and the students on the web.</th></tr>
    <tr><th style="text-align: center"><img src="{% static 'images/mypic.JPG' %}" width="300" height="300"></th></tr>
    </table>
{% endblock %}